<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdministracionTasas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>org.srluren.admin.servlet.principal.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarUsuario</display-name>
    <servlet-name>ValidarUsuario</servlet-name>
    <servlet-class>org.srluren.admin.servlet.usuario.ValidarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarUsuario</servlet-name>
    <url-pattern>/validarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarSubProductos</display-name>
    <servlet-name>ListarSubProductos</servlet-name>
    <servlet-class>org.srluren.admin.servlet.subproducto.ListarSubProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarSubProductos</servlet-name>
    <url-pattern>/consultarSubProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTipoPersonas</display-name>
    <servlet-name>ListarTipoPersonas</servlet-name>
    <servlet-class>org.srluren.admin.servlet.tipopersona.ListarTipoPersonas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTipoPersonas</servlet-name>
    <url-pattern>/consultarTipoPersonasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarMonedas</display-name>
    <servlet-name>ListarMonedas</servlet-name>
    <servlet-class>org.srluren.admin.servlet.moneda.ListarMonedas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarMonedas</servlet-name>
    <url-pattern>/consultarMonedasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultarRangoTasas</display-name>
    <servlet-name>ConsultarRangoTasas</servlet-name>
    <servlet-class>org.srluren.admin.servlet.tasa.ConsultarRangoTasas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarRangoTasas</servlet-name>
    <url-pattern>/consultarTasasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarRangoTasa</display-name>
    <servlet-name>EliminarRangoTasa</servlet-name>
    <servlet-class>org.srluren.admin.servlet.tasa.EliminarRangoTasa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarRangoTasa</servlet-name>
    <url-pattern>/eliminarRangoTasaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrabarRangoTasa</display-name>
    <servlet-name>GrabarRangoTasa</servlet-name>
    <servlet-class>org.srluren.admin.servlet.tasa.GrabarRangoTasa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrabarRangoTasa</servlet-name>
    <url-pattern>/grabarRangoTasaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarRangoTasa</display-name>
    <servlet-name>ActualizarRangoTasa</servlet-name>
    <servlet-class>org.srluren.admin.servlet.tasa.ActualizarRangoTasa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarRangoTasa</servlet-name>
    <url-pattern>/actualizarRangoTasaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarTasa</display-name>
    <servlet-name>AgregarTasa</servlet-name>
    <jsp-file>/WEB-INF/jsp/AgregarTasa.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarTasa</servlet-name>
    <url-pattern>/AgregarTasa.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarTasa</display-name>
    <servlet-name>ModificarTasa</servlet-name>
    <jsp-file>/WEB-INF/jsp/ModificarTasa.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarTasa</servlet-name>
    <url-pattern>/ModificarTasa.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectPrincipalServlet</display-name>
    <servlet-name>RedirectPrincipalServlet</servlet-name>
    <servlet-class>org.srluren.admin.servlet.principal.RedirectPrincipalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectPrincipalServlet</servlet-name>
    <url-pattern>/menuPrincipalServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.srluren.admin.resources.ApplicationListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>principal</display-name>
    <servlet-name>principal</servlet-name>
    <jsp-file>/WEB-INF/jsp/principal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>principal</servlet-name>
    <url-pattern>/grillaPrincipal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>org.srluren.admin.servlet.usuario.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/cerrarSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarPlazosServlet</display-name>
    <servlet-name>ListarPlazosServlet</servlet-name>
    <servlet-class>org.srluren.admin.servlet.subproducto.ListarPlazosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarPlazosServlet</servlet-name>
    <url-pattern>/listarPlazosServlet</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
	  
</web-app>