<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebSLuren</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GenerarCronograma</display-name>
    <servlet-name>GenerarCronograma</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenerarCronograma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarCronograma</servlet-name>
    <url-pattern>/generarCronogramaServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.srluren.web.resources.ApplicationListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EnviarCorreoServlet</display-name>
    <servlet-name>EnviarCorreoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.mail.EnviarCorreoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarCorreoServlet</servlet-name>
    <url-pattern>/enviarCorreoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crecons</display-name>
    <servlet-name>calcu-crecons</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-consumo/calcu-crecons.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crecons</servlet-name>
    <url-pattern>/calcu-crecons.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crecons</display-name>
    <servlet-name>crono-crecons</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-consumo/crono-crecons.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crecons</servlet-name>
    <url-pattern>/crono-crecons.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoKivaServlet</display-name>
    <servlet-name>GenCronoKivaServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoKivaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoKivaServlet</servlet-name>
    <url-pattern>/genCronoKivaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoMicroServlet</display-name>
    <servlet-name>GenCronoMicroServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoMicroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoMicroServlet</servlet-name>
    <url-pattern>/genCronoMicroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoPMYGServlet</display-name>
    <servlet-name>GenCronoPMYGServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoPMYGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoPMYGServlet</servlet-name>
    <url-pattern>/genCronoPMYGServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoAgriServlet</display-name>
    <servlet-name>GenCronoAgriServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoAgriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoAgriServlet</servlet-name>
    <url-pattern>/genCronoAgriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoHipoServlet</display-name>
    <servlet-name>GenCronoHipoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoHipoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoHipoServlet</servlet-name>
    <url-pattern>/genCronoHipoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenSimAhoServlet</display-name>
    <servlet-name>GenSimAhoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.deposito.GenSimAhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenSimAhoServlet</servlet-name>
    <url-pattern>/genSimAhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenSimDplzoServlet</display-name>
    <servlet-name>GenSimDplzoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.deposito.GenSimDplzoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenSimDplzoServlet</servlet-name>
    <url-pattern>/genSimDplzoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crepmyg</display-name>
    <servlet-name>calcu-crepmyg</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-pymg/calcu-crepmyg.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crepmyg</servlet-name>
    <url-pattern>/calcu-crepmyg.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crepmyg</display-name>
    <servlet-name>crono-crepmyg</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-pymg/crono-crepmyg.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crepmyg</servlet-name>
    <url-pattern>/crono-crepmyg.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>solicitud-visita</display-name>
    <servlet-name>solicitud-visita</servlet-name>
    <jsp-file>/WEB-INF/jsp/visita/solicitud-visita.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>solicitud-visita</servlet-name>
    <url-pattern>/solicitud-visita.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crehipo</display-name>
    <servlet-name>calcu-crehipo</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/calcu-crehipo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crehipo</servlet-name>
    <url-pattern>/calcu-crehipo.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crehipo</display-name>
    <servlet-name>crono-crehipo</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/crono-crehipo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crehipo</servlet-name>
    <url-pattern>/crono-crehipo.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crekiva</display-name>
    <servlet-name>calcu-crekiva</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-kiva/calcu-crekiva.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crekiva</servlet-name>
    <url-pattern>/calcu-crekiva.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crekiva</display-name>
    <servlet-name>crono-crekiva</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-kiva/crono-crekiva.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crekiva</servlet-name>
    <url-pattern>/crono-crekiva.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-creagri</display-name>
    <servlet-name>calcu-creagri</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-agricola/calcu-creagri.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-creagri</servlet-name>
    <url-pattern>/calcu-creagri.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-creagri</display-name>
    <servlet-name>crono-creagri</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-agricola/crono-creagri.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-creagri</servlet-name>
    <url-pattern>/crono-creagri.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-cremicro</display-name>
    <servlet-name>calcu-cremicro</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-microempresa/calcu-cremicro.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-cremicro</servlet-name>
    <url-pattern>/calcu-cremicro.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-cremicro</display-name>
    <servlet-name>crono-cremicro</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-microempresa/crono-cremicro.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-cremicro</servlet-name>
    <url-pattern>/crono-cremicro.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-ahorro</display-name>
    <servlet-name>calcu-ahorro</servlet-name>
    <jsp-file>/WEB-INF/jsp/ahorros/calcu-ahorro.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-ahorro</servlet-name>
    <url-pattern>/calcu-ahorro.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoHipoMivvServlet</display-name>
    <servlet-name>GenCronoHipoMivvServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoHipoMivvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoHipoMivvServlet</servlet-name>
    <url-pattern>/genCronoHipoMivvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenCronoHipoTeppServlet</display-name>
    <servlet-name>GenCronoHipoTeppServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.credito.GenCronoHipoTeppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenCronoHipoTeppServlet</servlet-name>
    <url-pattern>/genCronoHipoTeppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crehipo-mivv</display-name>
    <servlet-name>calcu-crehipo-mivv</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/calcu-crehipo-mivv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crehipo-mivv</servlet-name>
    <url-pattern>/calcu-crehipo-mivv.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-crehipo-tepp</display-name>
    <servlet-name>calcu-crehipo-tepp</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/calcu-crehipo-tepp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-crehipo-tepp</servlet-name>
    <url-pattern>/calcu-crehipo-tepp.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarTasaCreConsServlet</display-name>
    <servlet-name>ValidarTasaCreConsServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarTasaCreConsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarTasaCreConsServlet</servlet-name>
    <url-pattern>/validarTasaCreConsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarTasaHipotServlet</display-name>
    <servlet-name>ValidarTasaHipotServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarTasaHipotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarTasaHipotServlet</servlet-name>
    <url-pattern>/validarTasaHipotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-ahorro-plazo</display-name>
    <servlet-name>calcu-ahorro-plazo</servlet-name>
    <jsp-file>/WEB-INF/jsp/ahorros/calcu-ahorro-plazo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-ahorro-plazo</servlet-name>
    <url-pattern>/calcu-ahorro-plazo.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarPlazosServlet</display-name>
    <servlet-name>ListarPlazosServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.deposito.ListarPlazosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarPlazosServlet</servlet-name>
    <url-pattern>/listarPlazosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenSimCTSServlet</display-name>
    <servlet-name>GenSimCTSServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.deposito.GenSimCTSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenSimCTSServlet</servlet-name>
    <url-pattern>/genSimCTSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu-cts</display-name>
    <servlet-name>calcu-cts</servlet-name>
    <jsp-file>/WEB-INF/jsp/ahorros/calcu-cts.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu-cts</servlet-name>
    <url-pattern>/calcu-cts.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarMontosServlet</display-name>
    <servlet-name>ValidarMontosServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarMontosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarMontosServlet</servlet-name>
    <url-pattern>/validarMontosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crecons-gracia</display-name>
    <servlet-name>crono-crecons-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-consumo/crono-crecons-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crecons-gracia</servlet-name>
    <url-pattern>/crono-crecons-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crekiva-gracia</display-name>
    <servlet-name>crono-crekiva-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-kiva/crono-crekiva-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crekiva-gracia</servlet-name>
    <url-pattern>/crono-crekiva-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-creagri-gracia</display-name>
    <servlet-name>crono-creagri-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-agricola/crono-creagri-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-creagri-gracia</servlet-name>
    <url-pattern>/crono-creagri-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crepmyg-gracia</display-name>
    <servlet-name>crono-crepmyg-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-pymg/crono-crepmyg-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crepmyg-gracia</servlet-name>
    <url-pattern>/crono-crepmyg-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-cremicro-gracia</display-name>
    <servlet-name>crono-cremicro-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-microempresa/crono-cremicro-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-cremicro-gracia</servlet-name>
    <url-pattern>/crono-cremicro-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crehipo-mivv</display-name>
    <servlet-name>crono-crehipo-mivv</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/crono-crehipo-mivv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crehipo-mivv</servlet-name>
    <url-pattern>/crono-crehipo-mivv.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crehipo-mivv-gracia</display-name>
    <servlet-name>crono-crehipo-mivv-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/crono-crehipo-mivv-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crehipo-mivv-gracia</servlet-name>
    <url-pattern>/crono-crehipo-mivv-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crehipo-tepp</display-name>
    <servlet-name>crono-crehipo-tepp</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/crono-crehipo-tepp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crehipo-tepp</servlet-name>
    <url-pattern>/crono-crehipo-tepp.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>crono-crehipo-tepp-gracia</display-name>
    <servlet-name>crono-crehipo-tepp-gracia</servlet-name>
    <jsp-file>/WEB-INF/jsp/credito-hipoteca/crono-crehipo-tepp-gracia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crono-crehipo-tepp-gracia</servlet-name>
    <url-pattern>/crono-crehipo-tepp-gracia.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarFechasPagoServlet</display-name>
    <servlet-name>ValidarFechasPagoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarFechasPagoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarFechasPagoServlet</servlet-name>
    <url-pattern>/validarFechasPagoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenRepCredConsumoServlet</display-name>
    <servlet-name>GenRepCredConsumoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.reporte.GenRepCredConsumoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenRepCredConsumoServlet</servlet-name>
    <url-pattern>/genRepCredConsumoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenRepCredPymeServlet</display-name>
    <servlet-name>GenRepCredPymeServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.reporte.GenRepCredPymeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenRepCredPymeServlet</servlet-name>
    <url-pattern>/genRepCredPymeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenRepCredHipoServlet</display-name>
    <servlet-name>GenRepCredHipoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.reporte.GenRepCredHipoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenRepCredHipoServlet</servlet-name>
    <url-pattern>/genRepCredHipoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarRangoTasaServlet</display-name>
    <servlet-name>ListarRangoTasaServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ListarRangoTasaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRangoTasaServlet</servlet-name>
    <url-pattern>/listarRangoTasaServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ValidarMontosHipoServlet</display-name>
    <servlet-name>ValidarMontosHipoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarMontosHipoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarMontosHipoServlet</servlet-name>
    <url-pattern>/validarMontosHipoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarMontosHipoTePPServlet</display-name>
    <servlet-name>ValidarMontosHipoTePPServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.tasa.ValidarMontosHipoTePPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarMontosHipoTePPServlet</servlet-name>
    <url-pattern>/validarMontosHipoTePPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidacionAmortizaServlet</display-name>
    <servlet-name>ValidacionAmortizaServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.validacion.ValidacionAmortizaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidacionAmortizaServlet</servlet-name>
    <url-pattern>/validacionAmortizaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidacionAmortizaHipoServlet</display-name>
    <servlet-name>ValidacionAmortizaHipoServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.validacion.ValidacionAmortizaHipoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidacionAmortizaHipoServlet</servlet-name>
    <url-pattern>/validacionAmortizaHipoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidacionAmortizaHipoTeppServlet</display-name>
    <servlet-name>ValidacionAmortizaHipoTeppServlet</servlet-name>
    <servlet-class>org.srluren.web.servlet.validacion.ValidacionAmortizaHipoTeppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidacionAmortizaHipoTeppServlet</servlet-name>
    <url-pattern>/validacionAmortizaHipoTeppServlet</url-pattern>
  </servlet-mapping>
</web-app>